<div id="posts">
	<button class="btn btn-default pull-right" ng-click="add()">Add New</button>
    <ol class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#/posts">Posts</a>
        </li>
        <li class="active">
            {{post.title}}
        </li>
    </ol>


    <ul class="media-list">
        <li ng-repeat="post in posts | filter:postFilter">


            <div class="media post" data-id="{{post._id}}">
                <a class="pull-left"
                   href=""
                   ng-click="view(post._id)">
                    <img class="media-object img-thumbnail"
                         alt="{{post.title}}" ng-src="{{post.image}}"/>
                </a>

                <div class="media-body">

                    <h4 class="media-heading">{{post.title}}</h4>

                    <p>
                        {{post.body}}
                    </p>

                </div>
            </div>


        </li>
    </ul>
</div>
