<div id="post-detail">
    <ol class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#/posts">Posts</a>
        </li>
        <li class="active">
            {{post.title}}
        </li>
    </ol>

    <div class="post">
        <div class="header">
            <h1>{{post.title}}</h1>
            <span>Posted on {{post.created | date:'mediumDate'}}</span>
            <span class="label label-default tag" ng-repeat="t in post.tags">{{t}}</span>
            <a ng-click="edit(post)" class="btn btn-xs btn-default edit"> <i class="glyphicon glyphicon-pencil"></i> EDIT</a>
            <a class="btn btn-xs btn-default delete" ng-click="remove()"> <i class="glyphicon glyphicon-remove"></i> DEL</a>
        </div>

    <article ng-bind-html="post.body | markdown"></article>
    </div>
</div>
