<div id="posts">
	<button class="btn btn-default pull-right" ng-click="add()">Add New</button>
	<ol class="breadcrumb">
		<li>
			<a href="#">Home</a>
		</li>
		<li class="active">
			Posts
		</li>
	</ol>
	<ul class="posts list-unstyled" ng-if="posts">
		<li ng-repeat="post in posts | filter:tag">
			<div class="post" data-id="{{post._id}}">
				<header ng-include="'views/post-header.html'"></header>
				<section ng-bind-html="post.body | markdown:150"></section>
			</div>
		</li>
	</ul>
	<div class="alert alert-info" ng-if="!posts">
		<strong>Notice:</strong> There are no posts available.
	</div>
</div>