<div id="post-detail" class="content">
	<ol class="breadcrumb">
		<li>
			<a href="#">Home</a>
		</li>
		<li>
			<a href="#/posts">Posts</a>
		</li>
		<li class="active">
			{{post.title}}
		</li>
	</ol>

	<div class="pull-right actions">
		<div class="btn-group">
				<a ng-click="edit(post)" class="btn btn-default edit"> <i class="glyphicon glyphicon-pencil"></i> Edit </a>
                 <a  class="btn btn-danger delete" ng-click="remove()"> <i class="glyphicon glyphicon-remove"></i> Delete</a>
			</div>
	</div>
	<div class="page-header">
		<h1>{{post.title}}</h1>
	</div>

	<div class="row">
		<div class="col-xs-7 col-sm-12">
			
			<article ng-bind-html="post.body | markdown"></article>
			
			
			<!--markdown-editor ng-model="post.body" on-save="save()" -->
			
			
		</div>
		<div class="col-xs-5 col-sm-4 hidden">
			<aside class="well well-sm">
				<img ng-src="{{post.image}}" src="http://placehold.it/150x150&amp;text=Image" class="img-">
			</aside>
		</div>

	</div>

</div>